<ion-header-bar align-title="left" class="bar-dark">

	<a href="#/login" style="line-height: 43px;">
		<img src="img/png/back.png" width="20" />
	</a>

	<h1 class="title">找回账号密码</h1>

</ion-header-bar>
<div class=" " style="margin-top: 43px;">
	<div class=" jy-padding-sm ">
		<style type="text/css">
			html,
			body {
				background: rgb(245, 245, 245);
			}
		</style>

	</div>
	<div class="list">

		<a class="item item-avatar" href="#">
			<img src="img/png/find/zz.png">
			<h2>已绑定手机号</h2>
			<p class="jy-description">可通过手机号+短信验证码登录</p>
		</a>
		<a class="item item-avatar" href="#">
			<img src="img/png/find/aff.png">
			<h2>已绑定QQ号</h2>
			<p class="jy-description">可通过QQ号+QQ密码登录</p>
		</a>
		<a class="item item-avatar" href="#">
			<img src="img/png/find/ak0.png">
			<h2>已绑定邮箱</h2>
			<p class="jy-description">可通过邮箱地址重设密码</p>
		</a>
		<div class="jy-margin-sm jy-description">
			无法通过以上方式找回账号密码
		</div>
		<div class="jy-bg-color-fff jy-padding-sm">
			申诉找回微信账号密码
		</div>

	</div>
</div>