<ion-header-bar align-title="left" class="bar-dark">

	<a href="#/login" style="line-height: 43px;">
		<img src="img/png/back.png" width="20" />
	</a>
	<div class="h1 title">登录微信</div>

	</div>
</ion-header-bar>
<ion-nav-view>
	<ion-content>
		<style type="text/css">
			html,
			body {
				background: #FFFFFF;
			}
		</style>
	
		
		<div class="list jy-margin-top-sm">
			<label class="item item-input">
    		<span class="input-label">账号</span>
    		<input type="text">
  			</label>
			<label class="item item-input">
    <span class="input-label">密码</span>
    <input type="password">
  </label>
		</div>
		<div class="jy-margin-horizontal-sm">
			<button class="button button-block button-positive main-bg-color">登录</button>

		</div>
		<div class="row">
			<div class="col jy-text-center">
				<a href="#/find" class="jy-a-color">忘记密码</a>
			</div>
			<div class="col col-60 jy-text-center">
				<a href="#/login" class="jy-a-color">使用手机登录</a>
			</div>
		</div>
	</ion-content>
</ion-nav-view>