
		<ion-header-bar align-title="left" class="bar-dark">
			<a href="" style="line-height: 43px;">
				<img src="img/png/back.png" width="20" />
			</a>

			<h1 class="title">用短信验证码登录</h1>
			<button class="button button-clear button-positive jy-header-small">下一步</button>
		</ion-header-bar>
		<ion-content>
			<style type="text/css">
				html,
				body {
					background: #FFFFFF;
				}
			</style>
			<!--<div class=" " style="margin-top: 43px;">
			</div>-->
			<div class=" " style="margin-top: 20px;">
			</div>
			<div class="jy-margin-horizontal-sm">
				<span>国家/地区</span>

				<a href="" class="jy-a fr jy-a-color">中国</a>

			</div>
			<div class="list jy-margin-top-sm">
				<label class="item item-input">
    		<span class="input-label">+86</span>
    		<input type="text">
  			</label>
				
			</div>
			
			
		</ion-content>
