<ion-view>
<div class="bar bar-header item-input-inset">
	<label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="search" placeholder="Search">
  </label>
	<button ng-click="modal.hide()" class="button button-clear jy-color-333">
   	 	取消
  </button>
</div>
<div class=" " style="margin-top: 43px;">
	<style type="text/css">
		html,
		body {
			background: #fff;
		}
	</style>
</div>
<div class="jy-description jy-text-center">
	<span class="">搜索指定内容</span>
	<div class="row jy-margin-top-sm">
		<div class="col">
			<a href="" class="jy-a-color-d1">朋友圈</a>
		</div>
		<div class="col">
			<a href="" class="jy-a-color-d1">文章</a>
		</div>
		<div class="col">
			<a href="" class="jy-a-color-d1">公众号</a>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<a href="" class="jy-a-color-d1">小说</a>
		</div>
		<div class="col">
			<a href="" class="jy-a-color-d1">音乐</a>
		</div>
		<div class="col">
			<a href="" class="jy-a-color-d1">表情</a>
		</div>
	</div>
</div>
</ion-view>