<!--<ion-view view-title="Account">
  <ion-content>
    <h1>ssss</h1>
  </ion-content>
</ion-view>-->
	<ion-header-bar align-title="left" class="bar-dark">
			<div class="h1 title">微信(16)</div>
			<div class="buttons">

				<a ng-click="modal.show()" class="header-icon"><img src="img/png/search.png" / width="30"></a>
				</button>
				<a ui-sref="add" href="" class="header-icon"><img src="img/png/plus.png" / width="30"></a>
				</button>
			</div>
		</ion-header-bar>
<ion-view on-swipe-left="onSwipeLeft()" on-swipe-right="onSwipeRight()">
	<ion-content>
		<div class="list">

			<a ui-sref="zone" class="item jy-margin-top-sm jy-border-0" href="#">
				<img src="img/png/friends/friends_01.png" width="30" class="jy-vertical-align" />
				<span class="jy-vertical-align jy-margin-left-sm">朋友圈</span>
				<img ng-show="userData.img" ng-src="{{userData.img.sm_img}}" src="img/ben.png" width="30" class="jy-vertical-align fr" />
				<img ng-hide="userData.img"  src="img/img.jpg" width="30" class="jy-vertical-align fr" />
			</a>

			<a class="item jy-border-0 jy-margin-top-sm" href="#">
				<img src="img/png/friends/friends_02.png" width="30" class="jy-vertical-align" />
				<span class="jy-vertical-align jy-margin-left-sm">扫一扫</span>
			</a>
			<a class="item jy-border-bottom-d1" href="#">
				<img src="img/png/friends/friends_03.png" width="30" class="jy-vertical-align" />
				<span class="jy-vertical-align jy-margin-left-sm">摇一摇</span>
			</a>
			<a class="item jy-border-0 jy-margin-top-sm" href="#">
				<img src="img/png/friends/friends_04.png" width="30" class="jy-vertical-align" />
				<span class="jy-vertical-align jy-margin-left-sm">附近的人</span>
			</a>
			<a class="item jy-border-bottom-d1" href="#">
				<img src="img/png/friends/friends_05.png" width="30" class="jy-vertical-align" />
				<span class="jy-vertical-align jy-margin-left-sm">漂流瓶</span>
			</a>
			<a class="item jy-border-0 jy-margin-top-sm" href="#">
				<img src="img/png/friends/friends_06.png" width="30" class="jy-vertical-align" />
				<span class="jy-vertical-align jy-margin-left-sm">购物</span>
			</a>
			<a class="item jy-border-bottom-d1" href="#">
				<img src="img/png/friends/friends_07.png" width="30" class="jy-vertical-align" />
				<span class="jy-vertical-align jy-margin-left-sm">游戏</span>
			</a>

			<a class="item jy-border-0 jy-margin-top-sm" href="#">
				<img src="img/png/friends/friends_08.png" width="30" class="jy-vertical-align" />
				<span class="jy-vertical-align jy-margin-left-sm">小程序</span>
			</a>

		</div>

	</ion-content>
</ion-view>
<!--
<ion-view on-swipe-left="onSwipeLeft()" on-swipe-right="onSwipeRight()">
			<ion-content>
				<div class="list" style="background: rgb(232, 232, 232);">

					<a class="item jy-margin-top-sm jy-border-0" href="#">
						<img src="img/ben.png" width="30" class="jy-vertical-align" />
						<span class="jy-vertical-align jy-margin-left-sm">朋友圈</span>
						<img src="img/ben.png" width="30" class="jy-vertical-align fr" />
					</a>

					<a class="item jy-border-0 jy-margin-top-sm" href="#">
						<img src="img/ben.png" width="30" class="jy-vertical-align" />
						<span class="jy-vertical-align jy-margin-left-sm">朋友圈</span>
					</a>
					<a class="item jy-border-bottom-d1" href="#">
						<img src="img/ben.png" width="30" class="jy-vertical-align" />
						<span class="jy-vertical-align jy-margin-left-sm">朋友圈</span>
					</a>
					<a class="item jy-border-0 jy-margin-top-sm" href="#">
						<img src="img/ben.png" width="30" class="jy-vertical-align" />
						<span class="jy-vertical-align jy-margin-left-sm">朋友圈</span>
					</a>
					<a class="item jy-border-bottom-d1" href="#">
						<img src="img/ben.png" width="30" class="jy-vertical-align" />
						<span class="jy-vertical-align jy-margin-left-sm">朋友圈</span>
					</a>
					<a class="item jy-border-0 jy-margin-top-sm" href="#">
						<img src="img/ben.png" width="30" class="jy-vertical-align" />
						<span class="jy-vertical-align jy-margin-left-sm">朋友圈</span>
					</a>
					<a class="item jy-border-bottom-d1" href="#">
						<img src="img/ben.png" width="30" class="jy-vertical-align" />
						<span class="jy-vertical-align jy-margin-left-sm">朋友圈</span>
					</a>

					<a class="item jy-border-0 jy-margin-top-sm" href="#">
						<img src="img/ben.png" width="30" class="jy-vertical-align" />
						<span class="jy-vertical-align jy-margin-left-sm">朋友圈</span>
					</a>
				</div>

			</ion-content>
		</ion-view>-->