
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab 微信-->
  <ion-tab title="微信" icon-off="ion-ios-chatbubble-outline" icon-on="ion-ios-chatbubble" href="#/tab/message">
  	<!--内容-->
    <ion-nav-view name="tab-message"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="通讯录" icon-on="ion-ios-people" icon-off="ion-ios-people-outline" href="#/tab/friends">
    <ion-nav-view name="tab-friends"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="发现" icon-on="ion-ios-paperplane" icon-off="ion-ios-paperplane-outline" href="#/tab/find">
    <ion-nav-view name="tab-find"></ion-nav-view>
  </ion-tab>
  
  <ion-tab title="User" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/user">
    <ion-nav-view name="tab-user"></ion-nav-view>
  </ion-tab>
  



</ion-tabs>
