<ion-header-bar align-title="left" class="bar-dark">
	<a ng-click="back()"" href="#/tab/user/card" style="line-height: 43px;">
		<img src="img/png/back.png" width="20" />
	</a>

	<h1 class="title">朋友的优惠券</h1>

</ion-header-bar>
<div class=" " style="margin-top: 43px;">
	<style type="text/css">
		html,
		body {
			background: rgb(245, 245, 245);
		}
	</style>
	<div class="jy-color-999" style="margin-top: 150px;">
		<p class="jy-text-center">暂无可用优惠券</p>
		<p class="jy-text-center jy-margin-horizontal-sm ">
			在这里你可以和朋友共享优惠券
		</p>
	</div>

</div>