<ion-header-bar align-title="left" class="bar-dark">

	<a ng-click="back()" style="line-height: 43px;">
		<img src="img/png/back.png" width="20" />
	</a>

	<h1 class="title">账号与安全</h1>

</ion-header-bar>
<div class="" style="margin-top: 53px;">

</div>
<ul class="list">
	<li class="jy-margin-left-sm jy-description">账号</li>
	<li class="">
		<a href="" class="jy-a-setting item">
			<span class="">微信号</span>
			<span class="fr jy-description">giiwfy</span>
		</a>
	</li>

	<li class="">
		<a href="" class="jy-a-setting item">
			<span class="">QQ号</span>
			<span class="fr jy-description">1803007951</span>
		</a>
	</li>
	<li class="">
		<a href="" class="jy-a-setting item">
			<span class="">手机号</span>
			<span class="fr jy-description">未验证</span>
		</a>
	</li>
	<li class="">
		<a href="" class="jy-a-setting item">
			<span class="">邮箱地址</span>
			<span class="fr jy-description">未验证</span>
		</a>
	</li>
	<li class="jy-margin-left-sm jy-margin-top-sm jy-description">账号</li>
	<li class="">
		<a href="" class="jy-a-setting item">
			<span class="">声音锁</span>

		</a>
	</li>
	<li class="">
		<a href="" class="jy-a-setting item">
			<span class="">微信密码</span>

		</a>
	</li>

	<li class="">
		<a href="" class="jy-a-setting item">
			<span class="">账号保护</span>
			<span class="fr jy-description">以保护</span>
		</a>
	</li>
	<li class="">
		<a href="" class="jy-a-setting item">
			<span class="">应急联系人</span>

		</a>
	</li>
	<li class="">
		<a href="" class="jy-a-setting item">
			<span class="">手机安全防护</span>
			<span class="fr jy-description">未启用</span>
		</a>
	</li>
	<li class="jy-border-bottom  jy-bg-color-fff jy-padding-vertical-sm jy-margin-top-sm">
		<div class="clearfix jy-margin-horizontal-sm">
			<div class="fl">
				<span class="jy-font-20">微信安全中心</span>
			</div>

		</div>
		<div id="" class="jy-description jy-margin-horizontal-sm">
			如果你遇到微信被盗，无法登录等问题，可以前往安全中心
		</div>
	</li>

</ul>