<ion-header-bar align-title="left" class="bar-dark">

	<a ng-click="back()" style="line-height: 43px;">
		<img src="img/png/back.png" width="20" />
	</a>

	<h1 class="title">我的收藏</h1>
</ion-header-bar>
<div class=" " style="margin-top: 43px;">
	<div class="jy-bg-color-fff jy-padding-sm jy-border-bottom">
		<img src="img/adam.jpg" class="jy-vertical-align" width="20px" />
		<span class="jy-vertical-align">MyEnglandGirl</span>
		<span class="jy-description jy-vertical-align fr">2016-1-20</span>
		<div class="jy-padding-vertical-sm">
			他在夜里把灯点 四书五经读几遍 是她青梅竹马两小无猜守在一边 她在灯下把墨研 荆钗布裙一双眼 看他寒窗苦读十年誓要上得金殿 送良人到渡口 她说一生也为你守候 他说等我金榜题名 定不辜负你温柔
		</div>
	</div>
	<div class="jy-bg-color-fff jy-padding-sm jy-border-bottom">
		<img src="img/adam.jpg" class="jy-vertical-align" width="20px" />
		<span class="jy-vertical-align">MyEnglandGirl</span>
		<span class="jy-description jy-vertical-align fr">2015-5-6</span>
		<div class="jy-padding-vertical-sm">
			红豆生南国 红豆生南国
		</div>
	</div>
</div>