<ion-header-bar align-title="left" class="bar-dark">

	<a ng-click="back()" style="line-height: 43px;">
		<img src="img/png/back.png" width="20" />
	</a>

	<h1 class="title">个性签名</h1>

	<button ng-click="save()" class="button button-clear jy-description">
       			 保存
     		 </button>
</ion-header-bar>
<div style="margin-top: 53px;">

</div>
<style type="text/css">
	html,
	body {
		background: #fff;
	}
</style>
<div id="" class="jy-margin-horizontal-sm">
	<label class="item item-input jy-border-0 jy-border-bottom">
          <input type="text" placeholder="请填写个性前面" ng-model="user.autograph">
      
          
        </label>
</div>

<div class="jy-margin-horizontal-sm">
	<p class="jy-description jy-margin-top-sm"></p>
</div>