<ion-header-bar align-title="left" class="bar-dark">

	<a ng-click="back()" style="line-height: 43px;">
		<img src="img/png/back.png" width="20" />
	</a>

	<h1 class="title">新消息提醒</h1>

</ion-header-bar>
<div class="" style="margin-top: 53px;">

</div>
<ul class="list">

	<li class="item item-toggle">
		接收新消息通知
		<label class="toggle toggle-balanced">
      			 <input type="checkbox" checked="">
       		<div class="track">
        		 <div class="handle"></div>
      			 </div>
      			 
    			 </label>

	</li>

	<li class="jy-border-bottom  jy-bg-color-fff jy-padding-vertical-sm">
		<div class="clearfix jy-margin-horizontal-sm">
			<div class="fl">
				<span class="jy-font-20">接收消息</span>
			</div>
			<div class="fr">
				<label class="toggle toggle-balanced jy-margin-top-0">
             				<input type="checkbox" checked="">
             				<div class="track">
               					<div class="handle"></div>
            				</div>
           				</label>
			</div>
		</div>
		<div id="" class="jy-description jy-margin-horizontal-sm">
			若关闭，当接受到微信消息时，通知提示将不显示发信人和内容摘要
		</div>
	</li>
	<li class="item item-toggle jy-margin-top-sm">
		声音
		<label class="toggle toggle-balanced">
       			<input type="checkbox" checked="">
       			<div class="track">
         			<div class="handle"></div>
      				 </div>
    			 </label>
	</li>
	<li class="">
		<a href="" class="jy-a-setting item">
			<span class="">新消息提示音</span>
			<span class="fr jy-description">跟随系统</span>
		</a>

	</li>
	<li class="item item-toggle">
		震动
		<label class="toggle toggle-balanced">
             <input type="checkbox" checked="">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
	</li>
	<li class="item item-toggle jy-margin-top-sm">
		朋友圈照片更新
		<label class="toggle toggle-balanced">
       			<input type="checkbox" checked="">
       			<div class="track">
         			<div class="handle"></div>
      				 </div>
    			 </label>
	</li>
</ul>