
		<ion-header-bar align-title="left" class="bar-dark">

			<a ng-click="back()" style="line-height: 43px;">
				<img src="img/png/back.png" width="20" />
			</a>

			<h1 class="title">我的相册</h1>

		</ion-header-bar>
		<div class="zone-bg relative " style="margin-top: 43px;">

			<span class="jy-color-fff">MyEnglandGirl</span>
		</div>
		<div class="relative zone-mainImges">
			<img src="img/ben.png" width="80" class="jy-vertical-align " />
			<span class="jy-description">真的对不起，爱你</span>
			<div id="" style="padding-top: 70px;">

			</div>
			<div class="jy-margin-horizontal-sm">
				<div class="row">
					<div class="col">
						<span class="jy-color-000" style="font-size: 24px;">今天</span></div>
					<div class="col col-75">
						<img src="img/png/ass.png" width="80px" />
					</div>

				</div>
				<div class="row jy-margin-top-sm">
					<div class="col">
						<span class="jy-color-000" style="font-size: 24px;">
							<span>14</span>
						<span class="jy-font-20">3月</span>

						</span>
					</div>
					<div class="col col-75" style="background: rgb(235,235,235);">
						<!--<img src="img/adam.jpg" width="80px"/>-->
						<div class="" style="vertical-align: top;">相思（红豆）<br />
							
作者： 唐 王维<br />
红豆生南国，<br />
春来发几枝。<br />
愿君多采撷，<br />
此物最相思。</div>
					</div>

				</div>
				<div class="row jy-margin-top-sm">
					<div class="col">
						<span class="jy-color-000" style="font-size: 24px;">
							<span>11</span>
						<span class="jy-font-20">9月</span>

						</span>
					</div>
					<div class="col col-75" style="background: rgb(235,235,235);">
						<img src="img/adam.jpg" width="80px"/>
						<div class="" style="">
							夕阳西下
						</div>
					</div>

				</div>

			</div>
