<div class="bar bar-header bar-dark">
	<a href="#/tab/user/information" style="line-height: 43px;">
		<img src="img/png/back.png" width="20" />
	</a>
	<h1 class="title rqcode">二维码名片</h1>
</div>

<style type="text/css">
	.pane {
		background: #fff;
	}
</style>
<div style="margin-top: 53px;">

</div>

<a class="item jy-border-0 jy-margin-top-sm" href="#">
	<img ng-show="userData.img" ng-src="{{userData.img.sm_img}}" src="img/image.jpg" " width="60 " class="jy-vertical-align fl " />
	<img ng-hide="userData.img" src="img/img.jpg" width="60" class="jy-vertical-align fl " />
	<div class="jy-vertical-align jy-margin-left-sm fl " style="margin-top: 5px; ">
		<span class="my-name jy-vertical-align ">MY</span>
		<img ng-show="userData.img" ng-src="{{userData.img.sm_img}}" src="img/image.jpg "  class="jy-vertical-align " width="16 ">
		<img ng-hide="userData.img" src="img/img.jpg"  class="jy-vertical-align " width="16 ">
		<br />
		<span class="my-nameID ">微信号：giiw</span>

	</div>

</a>
<div class="jy-text-center ">
	<img src="img/RQcode.png " width="150 " />
	<p class="jy-margin-top-sm jy-description ">扫一扫上面的二维码图案,加我微信</p>
</div>