<ion-header-bar align-title="left" class="bar-dark">

	<a ng-click="back()" style="line-height: 43px;">
		<img src="img/png/back.png" width="20" />
	</a>

	<h1 class="title">隐私</h1>

</ion-header-bar>
<div class="" style="margin-top: 53px;">

</div>
<ul class="list">
	<li class="jy-margin-left-sm jy-description">通讯录</li>
	<li class="item item-toggle">
		加我为朋友是需要验证
		<label class="toggle toggle-balanced">
      			 <input type="checkbox" checked="">
       		<div class="track">
        		 <div class="handle"></div>
      			 </div>
      			 
    			 </label>

	</li>

	<li class="jy-border-bottom  jy-bg-color-fff jy-padding-vertical-sm">
		<div class="clearfix jy-margin-horizontal-sm">
			<div class="fl">
				<span class="jy-font-20">向我推荐通讯录朋友</span>
			</div>
			<div class="fr">
				<label class="toggle toggle-balanced jy-margin-top-0">
             				<input type="checkbox" checked="">
             				<div class="track">
               					<div class="handle"></div>
            				</div>
           				</label>
			</div>
		</div>
		<div id="" class="jy-description jy-margin-horizontal-sm">
			开启后，为你推荐已开通微信的手机联系人
		</div>
	</li>
	<li class="item item-toggle">
		添加我的方式
		<label class="toggle toggle-balanced">
      			 <input type="checkbox" checked="">
       		<div class="track">
        		 <div class="handle"></div>
      			 </div>
      			 
    			 </label>

	</li>
	<li class="item item-toggle">
		通讯录黑名单
		<label class="toggle toggle-balanced">
      			 <input type="checkbox" checked="">
       		<div class="track">
        		 <div class="handle"></div>
      			 </div>
      			 
    			 </label>

	</li>
	<li class="jy-margin-left-sm jy-margin-top-sm jy-description">朋友圈</li>

	<li class="">
		<a href="" class="jy-a-setting item">
			<span class="">不让他(她)看我的朋友圈</span>

		</a>

	</li>
	<li class="">
		<a href="" class="jy-a-setting item">
			<span class="">不看他(她)的朋友圈</span>

		</a>

	</li>
	<li class="item item-toggle">
		允许陌生人查看十张照片
		<label class="toggle toggle-balanced">
             <input type="checkbox" checked="">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
	</li>

</ul>