<ion-header-bar align-title="left" class="bar-dark">

	<a ng-click="back()" href="#/tab/user/card" style="line-height: 43px;">
		<img src="img/png/back.png" width="20" />
	</a>

	<h1 class="title">会员卡</h1>

</ion-header-bar>
<div class=" " style="margin-top: 43px;">
	<style type="text/css">
		html,
		body {
			background: rgb(245, 245, 245);
		}
	</style>
	<div class="jy-color-999" style="margin-top: 150px;">
		<p class="jy-text-center">暂无可用会员卡</p>
		<p class="jy-text-center jy-margin-horizontal-sm ">
			- 你可以在支付微信会员卡的公众号、应用程序、线下店铺获得会员卡，放入微信卡包保存和管理。到店消费时向商家出示会员卡即可使用。
		</p>
	</div>

</div>