<ion-header-bar align-title="left" class="bar-dark">

	<a href="#/tab/user" style="line-height: 43px;">
		<img src="img/png/back.png" width="20" />
	</a>

	<h1 class="title">卡包</h1>
	<button class="button button-clear button-positive jy-header-small">消息通知</button>

</ion-header-bar>
<div class=" " style="margin-top: 43px;">
	<div class=" jy-padding-sm ">
		<style type="text/css">
			html,
			body {
				background: rgb(245, 245, 245);
			}
		</style>
		<div class="jy-description jy-margin-bottom-sm">会员卡</div>
		<div  ui-sref="user-card-vip" class="jy-bg-color-fff jy-padding-sm jy-border-radius">
			<img src="img/png/card/axu.png" class="jy-vertical-align" width="40px" />
			<span class="jy-vertical-align">会员卡(0)</span>
		</div>
		<div class="jy-description jy-margin-vertical-sm">优惠券</div>
		<div  ui-sref="user-card-bills"  class="jy-bg-color-fff jy-padding-sm jy-border-radius">
			<img src="img/png/card/axv.png" class="jy-vertical-align" width="40px" />
			<span class="jy-vertical-align">朋友的优惠券(0)</span>
		</div>
		<div ui-sref="user-card-coupon" class="jy-bg-color-fff jy-padding-sm jy-border-radius jy-margin-top-sm">
			<img src="img/png/card/axw.png" class="jy-vertical-align" width="40px" />
			<span class="jy-vertical-align">我的票券(0)</span>
		</div>
	</div>

</div>