<ion-header-bar align-title="left" class="bar-dark">

	<a href="#/tab/user/setting" style="line-height: 43px;">
		<img src="img/png/back.png" width="20" />
	</a>

	<h1 class="title">勿扰模式</h1>

</ion-header-bar>
<ul class="list " style="margin-top: 43px;">
	<li class="jy-border-bottom  jy-bg-color-fff jy-padding-vertical-sm jy-margin-top-sm">
		<div class="clearfix jy-margin-horizontal-sm">
			<div class="fl">
				<span class="jy-font-20">勿扰模式</span>
			</div>
			<div class="fr">
				<label class="toggle toggle-balanced jy-margin-top-0">
             				<input type="checkbox">
             				<div class="track">
               					<div class="handle"></div>
            				</div>
           				</label>
			</div>
		</div>
		<div id="" class="jy-description jy-margin-horizontal-sm">
			开启后，在设定时间段内收到新消息时不会响铃或震动。
		</div>
	</li>

</ul>