.logo-con{
	background:rgb(245,245,245);
} 
.logo{
	font-size: 30px;
	color: red;
	font-weight: blod;
	padding: 20px 0;
	display: inline-block;
}
.logo-con span a{
	display: inline;
	margin-left: 20px;
	color: #666666;
}
ul{
	width: 560px;
}
ul li{
	margin-bottom: 20px;
}
ul li div.fl{
	width: 440px;
	margin-left: 10px;
}
ul li div{
	margin-bottom: 6px;
}
.title{
	color: blue;
	font-size: 14px;
}
.event-cate-tag a{
	color: gray;
	display: inline-block;
	margin-right: 6px;
}
