.container {
	width: 1170px;
}

.head-logo {
	width: 80px;
	height: 56px;
	background: rgba(59, 190, 122, .9);
	padding: 15px 26px;
}

.nav li {
	float: left;
	margin-left: 40px;
	margin-top: 36px;
}

.nav li a {
	font-size: 16px;
	line-height: 20px;
	color: #333;
}

.nav li:last-child a {
	color: rgba(59, 190, 122, .9);
	background-color: #FFFFFF;
	padding: 4px 9px;
	border: 1px solid rgba(59, 190, 122, .9);
	margin-top: -4px;
}

.line-top {
	border-top: 1px solid #3bbe7a;
	width: 18px;
	margin: auto;
}

.linian-con {
	margin-top: 70px;
}

.title-con {
	margin-bottom: 50px;
}


.large-3{
	width: 33.3%;
	padding-right: 15px;
	padding-left: 15px
}
.col-div-1