@charset "utf-8";
.service_item{
	width: 166px;
	height: 296px;
	background-color: #ff0;
	float: left;
}
.clear{
	clear: both;
}
.test{
	float: left;
	height: 300px;
	background-color: #f00;
}
.test02{

	height: 300px;
	background-color: #0f0;
}
