html,body{
	color: #666;
	font-family: "Microsoft YaHei UI", "Microsoft YaHei UI Light", "微软雅黑", "宋体", Helvetica-Black-SemiBold, Tahoma, Arial, sans-serif;
	font-size: 12px;
	line-height: 24px;
}
div,dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6,input,form,a,p,textarea{
	margin: 0;
	padding: 0;
	font-family: "Microsoft YaHei UI", "Microsoft YaHei UI Light", "微软雅黑", "宋体", Helvetica-Black-SemiBold, Tahoma, Arial, sans-serif;
}
ol,ul,li{
	list-style: none;
}
a{
	text-decoration: none;
	
}
img{
	border: none;
	
.fl{
	float: left;
}
.fr{
	float: right;
}
.clear{
	clear:both;
}
.container{
	width: 1170px;
	margin: 0 auto;
}
