@charset "utf-8";
.index-nav {
	width: 100%;
	height: 38px;
	background: url(../img/navi_1pxbg.png) repeat-x;
	vertical-align: middle;
	box-shadow: 0 4px 4px #c7c6c6;
	-o-box-shadow: 0 4px 4px #c7c6c6;
	-moz-box-shadow: 0 4px 4px #c7c6c6;
	-webkit-box-shadow: 0 4px 4px #c7c6c6;
	margin-bottom: 20px;
}

.index-shou a {
	color: #FFFFFF;
}

.index-shou a:hover {
	color: #C69C6D;
}

.index-logo {
	width: 1210px;
	margin: 0 auto;
	height: 100%;
}

.index-log {
	clear: both;
	height: 40px;
	width: 1210px;
	margin: 0 auto;
	position: relative;
}

.index-log>li {
	display: inline-block;
	float: left;
	z-index: 20;
	font-size: 14px;
	text-align: center;
	font-family: "微软雅黑";
	height: 40px;
	line-height: 40px;
}

.index-log .index-itme .index-phots {
	height: 45px;
}

li.index-bon a.index-phot {
	width: 130px;
	background: url(../img/lux_index.png) -8px -215px no-repeat;
	font-size: 14px;
	font-weight: bold;
	height: 38px;
	color: #fff;
	display: inline-block;
	z-index: 999;
	margin-right: 15px;
}

.index-scpir {
	background: url(../img/lux_index.png) no-repeat -473px -170px;
	position: absolute;
	bottom: -5px;
	left: -7px;
	width: 7px;
	height: 7px;
}

.index-log .index-shou {
	float: right;
	color: #fff;
	font-size: 14px;
}

.index-log>li {
	display: inline-block;
	float: left;
	z-index: 20;
	font-size: 14px;
	text-align: center;
	font-family: "微软雅黑";
	height: 40px;
	line-height: 40px;
}

.index-you .index-xinxi .index-listt th {
	color: #000;
	text-align: center;
	line-height: 32px;
	font-weight: bold;
	background: url(../img/user_level.png) -1px -215px;
}

.index-you .index-xinxi .index-listt td {
	border: #e1e1e1 solid 1px;
	text-align: center;
	line-height: 35px;
	padding: 5px 0px;
}

.index-moren span {
	padding-left: 25px;
	background: url(../img/address.jpg) no-repeat 0 3px;
	color: red;
}

.index-listt {
	margin-top: 15px;
}

.index-tianjia {
	border: #bababa solid 1px;
	margin-top: 20px;
}

.index-head {
	font-size: 12px;
	margin: 4px 0 8px 6px;
	cursor: pointer;
}

.index-head span {
	display: block;
	float: left;
	width: 15px;
	height: 15px;
	line-height: 15px;
	border: #000 solid 1px;
	text-align: center;
	color: red;
	margin: 3px 5px 0 0;
}

.index-head p {
	color: #E00403;
	font-size: 13px;
}

#index-box {
	padding: 0 0 25px 45px;
}

#index-sbox {
	width: 100%;
	text-align: center;
	margin: 2px auto;
	color: #ff0000;
	float: none;
	clear: both;
	display: block;
	font-size: larger;
}

.index-xinxi ul .index-lus {
	margin-top: 25px;
}

.index-xinxi ul .index-lus li {
	margin: 10px 0;
	overflow: hidden;
	zoom: 1;
}

.index-oranbtn {
	background: #d00000;
	color: #fff;
}

.index-arrbtn {
	display: inline-block;
	padding: 0px 17px;
	height: 25px;
	line-height: 25px;
	.vertical-align: middle;
	color: #fff;
	font-family: "微软雅黑";
	font-size: 12px;
	border: 0px;
	cursor: pointer;
	overflow: hidden;
}

.index-label {
	width: 85px;
	display: block;
	float: left;
	line-height: 26px;
}

li {
	line-height: 20px;
	height: 40px;
}
.index-listt li{
	line-height: 30px;
	height: 30px;
}
label {
	cursor: default;
	display: block;
}

.index-xiugai a {
	color: #000000;
	text-decoration: none;
}

.index-xiugai a:hover {
	color: #C69C6D;
}

.index-zuo dl dd a {
	padding-top: 7px;
	color: #000000;
}

.index-zuo dl dd a:hover {
	/*width: 100px;
	border-bottom: 1px solid #000000;*/
	color: #c69c6d;
	text-decoration: none;
}

.index-shou a {
	text-decoration: none;
}

.index-itme a {
	text-decoration: none;
}