html,body{
	color: #666;
	font-family: "Microsoft YaHei UI", "Microsoft YaHei UI Light", "微软雅黑", "宋体", Helvetica-Black-SemiBold, Tahoma, Arial, sans-serif;
	font-size: 12px;
}
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,input,form,a,p,textarea{
	margin: 0;
	padding: 0;
}
ol,ul,li{
	list-style: none;
}
a{
	display: block;
	text-decoration: none;
}
img{
	border: none;
	display: block;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.clear{
	_zoom:1;/*处理ie兼容性问题*/
	clear:both;
}
.container{
	width: 950px;
	margin: 0 auto;
}
.relative{
	position: relative;
}
.overflow{
	overflow: hidden;
}
.clearfix:after{
	content: '';
	clear: both;
	display: block;
}
